<!--
<nav class="navbar navbar-custom navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <i>Skude Film & TV</span></i>
      </a>  
     <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
            
        </div>
       
    </form>
     <ul class="nav navbar-nav">
         <li><a href="/#/series">Serier</a></li>
         <li class="active"><a href="/#/movies">Filmer</a></li>
          <li><a href="/#/netflix">Netflix</a></li>
        </ul>
    </div>
  </div>
</nav>
-->
    <input ng-model="query" id="search" name="search" type="text" autocomplete="off" placeholder="Hva leter du etter?">



<div class="content">
    
    <div class="container-fluid" >
        
        
         <!-- Featured -->
        <div ng-if="query == null || query.length <= 1">
            
            <h2>Populære</h2>
            <br>
            <movie-grid channel="Featured"></movie-grid>
        </div>
        
        <!-- All the things -->
        
        <div ng-if="query != null && query.length > 1">
        
        <h2>Viaplay</h2>
        <br>
        <movie-grid channel="ViaPlayShows" query="query"></movie-grid>
        <movie-grid channel="ViaPlayMovies" query="query"></movie-grid>
          
        <h2>HBO</h2>
        <br>
        <movie-grid channel="HBOShows" query="query"></movie-grid>
        <movie-grid channel="HBOMovies" query="query"></movie-grid>
        
        <h2>Netflix</h2>
        <br>
        <movie-grid channel="Netflix" query="query"></movie-grid>
        
    
        </div>
   
</div>
      
<!-- 

-->